.image-modal {
    width: 100vw;
    height: 100vh;
    margin: auto auto;
    position: fixed;
    inset: 0;
    z-index: 999;
    background-color: ;
    /* backdrop-filter: blur(2px); */
    opacity: .2;
}

.image-modal__img-container {
    position: relative;
}

.image-modal__img {
    padding: 8rem;
    background-color: #fff;
    position: absolute;
} 

.image-modal__img-container, 
.image-modal__img {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.image-modal__close {
    /* position: absolute; */
    color: var(--color-gray-dark);
    font-size: 4.2rem;
}