.card {
    position: relative;
    overflow: hidden;
    transition: all .3s ease-in-out;
    justify-items: start;
    height: 100%;
}

.card:hover .img-medium{
    transform: scale(1.2);
}

.card:hover .icon-medium{
    transform: scale(1.2);
}

.card__img-wrapper {
    overflow: hidden;
    position: relative;
}

.card__title {
    justify-content: space-between;
    padding: 0 1rem;
    color: var(--color-primary-dark);
    font-size: 1.8rem;
    font-weight: 600;
    width: 100%;
    margin: 2.4rem 0 2rem 0;
    position: relative;
}

/* When there is a call out tag to the right of the card title, then a flexbox is needed for aligning the title and the tag */
.card__call-out-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1rem 2rem 0;
}

.card__call-out-tag {
    background-color: var(--color-yellow);
    font-size: 1.4rem;
    font-weight: 700;
    padding: 0.4rem 1.4rem;
    border-radius: 100px;
}

.card__section {
    /* flex: 1;
    display: flex; */
    flex-direction: column;
    padding: 0 1rem 2rem 1rem;
    cursor: auto;
    position: relative;
}

.card__footer {
    justify-self: flex-start;
    padding-top: 2rem;
    width: 100%;
}

.card__section,
.card__expandable-text--content {
    color: var(--color-gray-dark);
    font-size: 1.8rem;
    line-height: 2.4rem;
    letter-spacing: .1rem;
}

.card__expandable-text--content {
    cursor: pointer;
}

.card__content-list {
    padding-bottom: 4rem;
    flex: 1;
}

.card__items-list{
    display: flex;
    gap: 1rem;
    font-size: 1.8rem;
    color: var(--color-gray-dark);
    line-height: 3.6rem;
}

.card__expandable-text--container{
    align-self: start;
    flex: 1;
}

.card__expandable-text--toggle{
    color: var(--color-primary-dark);
    font-size: 1.6rem;
    cursor: pointer;
}

.card__expandable-text--content {
    margin-top: 2rem;
}

/* mobile */
@media only screen and (max-width: 575px){
    .card__title {
        font-size: 1.8rem;
    }

    .card__content {
        font-size: 1.6rem;
        letter-spacing: 0.1rem;
    }
}