.gallery-container{
    background-color: var(--color-primary);
    position: relative;
}

.gallery__content {
    align-items: start;
    row-gap: 3.8rem;
    padding: 0 2rem;
}

.gallery__img--container {
    overflow: hidden;
    cursor: pointer;
}

.gallery__img {
    width: 32rem;
    height: 32rem;
    transition: all .3s ease-in-out;
}

.gallery__img:hover {
    scale: 1.2;
}

.gallery__modal-img {
    max-width: 80vw;
    max-height: 80vh;
    object-fit: contain;
    margin: auto;
    display: block;
}

.gallery__modal-img:hover {
    scale: reset;
}

.gallery__caption {
    font-size: 1.6rem;
    color: var(--color-primary-dark);
    padding-top: .4rem;
}

.gallery__modal {
    padding: 8rem;
    margin: 2rem;
}

@media only screen and (max-width: 575px){
    .gallery__caption {
        font-size: 1.6rem;
    }

    .gallery__modal {
        padding: 4rem;
    }
}