.header__action-icons{
  display: flex;
  align-items: center;
}

.menu-container{
    /* display: flex; */
    padding-left: 15px;
    flex-wrap: wrap;
    width: 100%;
}

.menu-icon,
.menu-icon::before,
.menu-icon::after{
  display: block;
  width: 23px;
  height: 3px;
  background: var(--color-primary-dark-rgb-8);
  border-radius: 3px;
}

.menu-icon::before,
.menu-icon::after{
  /* position: relative; */
  content: "";
  /* top: -.8rem; */
}

.menu-icon::before {top: -8px;}

.menu-icon::after{ top: 6px;}

.login-container__caption {
  /* position: absolute; */
}
/*
 * Make this absolute positioned
 * at the top left of the screen
 */
.menu
{
  /* position: fixed; */
  /* top: 0; */
  /* right: -100%; */
  /* transition: right 0.5s; */
  transform: translateX(150%);
  background: var(--color-primary-dark);
  transition: transform 1.5s ease;

  /* position: fixed;
  width: 30rem;
  height: 100vh;
  padding: 50px;
  text-transform: uppercase;
  list-style-type: none;
  right: -100%;
  top: 0;
  
  -webkit-font-smoothing: antialiased;
  transition: right 1.5s ease; */
}

.menu-active {
  transform: translateX(-150%);
}

.menu li
{
  padding: 10px 0;
  font-size: 1.5rem;
}