.menu{
  padding-left: 10px;
}

.menu-container{
  position: fixed;
  color: var(--color-primary-dark);
  background-color: var(--color-gray-dark-rgb-9);
  height: 100vh;
  width: 100%;
  top: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.menu-hamburguer__close {
  font-size: 6.4rem;
  color: var(--color-primary-dark);
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 40px;
  padding-top: 25px;
  z-index: 1010;
}

.menu-container__visible {
  visibility: visible;
  opacity: 1;
}

.menu-container__hidden {
  visibility: hidden;
  opacity: 0;
}

/* Position the menu items at the top left of the screen */
.menu-items
{
  position: fixed;
  width: 300px;
  top: 0;
  right: 0;
  height: 100vh;
  padding: 50px;
  padding-top: 125px;
  z-index: 1000;
  background: white;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.menu-items a {
  text-decoration: none;
  color: var(--color-primary-dark);
}

.menu-items a:hover
{
  color: var(--color-yellow-dark);
}

.menu-items__visible {
  transform: translateX(0);
}

.menu-items__hidden {
  transform: translateX(100%);
}

.menu-items li
{
  padding: 10px 0;
  font-size: 22px;
}

@media only screen and (max-width: 575px){
  .menu-hamburguer__close {
    padding-right: 20px;
    padding-top: 20px;
  }
}



