.modal {
    position: fixed;
    background-color: var(--color-gray-dark-rgb-9);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    transition: all .3s;
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-container {
    background-color: white;
    position: relative;
}

.modal-close {
    font-size: 3.4rem;
    text-decoration: none;
    position: absolute;
    color: var(--color-primary-dark);
    top: 2rem;
    right: 4rem;
    z-index: 999;
    transition: all .3s;
    cursor: pointer;
}

.modal-close:hover {
    font-weight: 700;
}

@media only screen and (max-width: 575px){
    .modal-close {
        top: .5rem;
        right: 2rem;
    }
}