.prices {
    padding-bottom: 19.2rem;
}

.prices__list-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 4.8rem;
}

.prices__list-card--great-value {
    background-color: var(--color-primary);
}

.prices__list-card-icon {
    padding-bottom: 1rem;
    align-self: center;
}

.prices__list-card-description {
    color: var(--color-gray-dark);
    padding-top: 9.6rem;
    font-size: 2.4rem;
    padding-top: 0;
    padding-bottom: 4.2rem;
}

.prices__list-card-price {
    color: var(--color-primary-dark-rgb-8);
    font-size: 4.8rem;
}

.prices__list-card-additional-info {
    font-size: 1.6rem;
    padding-bottom: 0.6rem;
}

.prices__list-card-yellow-ribbon {
    position: absolute;
    background-color: var(--color-yellow);
    padding: 1rem 10rem;
    top: 10%;
    right: -20%;
}

@media only screen and (max-width: 762px){
    .prices__list-card-yellow-ribbon {
        top: 8%;
        right: -15%;
    }
}

@media only screen and (max-width: 575px){
    .prices__card-border {
        border: 1px solid var(--color-gray-light);
    }
    .prices__list-card {
        padding: 4.8rem;
    }

    .prices__list-card-yellow-ribbon {
        top: 12%;
        right: -30%;
    }

    .prices__list-card-description {
        padding-bottom: 3.2em;
        font-size: 2rem;
    }
}