.review__container {
    display: flex;
    align-items: center;
    gap: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 1.4rem;
}

.review__star-container {
    display: flex;
    align-items: center;
}

.review__star,
.review__star-display {
    width: 2rem;
    height: 2rem;
    display: block;
}

.review__star {
    cursor: pointer;
}

.review__star-label {
    color: var(--color-yellow-dark);
    font-size: 1.5rem;
}

.review__star-display {
    cursor: auto;
}

.review__star-empty,
.review__star-full {
    stroke: var(--color-yellow-dark);
}

.review__star-empty {
    fill: none;
}

.review__star-full {
    fill: var(--color-yellow-dark);
}

.review__text-container {
    line-height: 1;
    margin: 0;
    color: var(--color-yellow-dark);
    font-size: 1.5rem;
    cursor: auto;
    flex-grow: 1;
    display: grid;
    grid-template-columns: auto 1fr;
}

.review__text-all-reviews {
    text-decoration: none;
    color: var(--color-gray-dark);
    justify-self: end;
}

.review__text-no-reviews {
    justify-self: end;
    grid-column: 1 / -1;
}
.review__text-all-reviews:visited {
    color: var(--color-gray-dark);
}

.review__collector-no-reviews {
    color: var(--color-gray-dark);
    font-weight: 600;
}

.review__review-text {
    border: 1px solid var(--color-gray-dark-rgb-3);
    font-size: 1.2rem;
    font-family: 'Lato';
    width: 100%;
    height: auto;
    resize: none;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    resize: none
}

.review__input--submit {
    display: flex;
    justify-content: flex-end;
    margin-top: .6rem;
    gap: 1rem;
}