@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700');
/* @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap'); */


/* --- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px */


body {
    font-family: 'Lato';
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.8rem;
    color: var(--color-gray-dark);
    font-weight: 600;
    padding-bottom: 4.8rem;
}

h3 {
    font-size: 1.5rem;
 }

h4 {
    font-size: 1.5rem;
    font-weight: 700;
}

h1,
h2,
h3,
h4
{
    text-transform: uppercase;
}

h3,
h4
{
    color: var(--color-gray-dark);
}

p {
    color: var(--color-gray-dark);
}

.heading-primary {
    color: var(--color-gray-dark);
    font-size: 4.4rem;
    line-height: 1.05;
    font-weight: 300;
    margin-bottom: 1.8rem;
    letter-spacing: 0.4rem;
    color: var(--color-primary-dark);
}

.heading-secondary {
    font-size: 2.4rem;
    color: var(--color-gray-dark);
    text-transform: uppercase;
    margin-bottom: 9.6rem;
    line-height: 3.6rem;
    letter-spacing: 0.2rem;
    transition: all 0.3s ease-in-out;
}

.heading-tertiary {
    color: var(--color-primary-dark);
    font-size: 2rem;
    letter-spacing: 0.2rem;
}

.regular-text,
.regular-text-small
 {
    color: var(--color-gray-dark);
}

.regular-text {
    font-size: 1.8rem;
    line-height: 2.4rem;
    letter-spacing: .1rem;
}

.regular-text-small {
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: .1rem;
}

.bold {
    font-weight: 700;
}

.link {
    text-decoration: none;
    font-weight: 700;
    color: var(--color-primary-dark)
}

.top-margin--small {
    margin-top: 2.4rem;
}

.top-margin--large {
    margin-top: 4.2rem;
}

.bottom-margin--small {
    margin-bottom: 2.4rem;
}

.bottom-margin--large {
    margin-bottom: 4.2rem;
}

.success {
    color: var(--color-primary-dark);
    font-size: 1.4rem;
}

.error {
    color: red;
    padding: 1rem;
    border: 1px solid var(--color-gray-light);
    background-color: rgb(246, 225, 225);
    font-size: 1.4rem;
}

@media only screen and (max-width: 1060px){
    .heading-primary {
        font-size: 3.6em;
        letter-spacing: 0.2rem;
    }
}

@media only screen and (max-width: 712px){
    .heading-secondary {
        font-size: 1.8rem;
        letter-spacing: 0.1rem;
        line-height: 2.4rem;
    }

    .heading-tertiary {
        color: var(--color-primary-dark);
        font-size: 2rem;
        padding-bottom: 0.5rem;
        letter-spacing: 0.2rem;
    }
}

/*  Phones and small tablets */
@media only screen and (max-width: 575px){

    .heading-primary {
        font-size: 2.4rem;
        letter-spacing: 0.1rem;
    }

    .heading-secondary {
        font-size: 1.8rem;
        letter-spacing: 0.05rem;
    }

    .heading-tertiary {
        color: var(--color-primary-dark);
        font-size: 1.8rem;
        padding-bottom: 0rem;
    }

    .hero__description {
        font-size: 1.6rem;
    }
}

